.log
  float right
  padding 10px 10px
  font-size 20px
  color #fff
  position relative
  cursor pointer
  display inline-block 
.log:hover
  text-decoration none
  color #fff
.log:focus
  text-decoration none
  color #fff
.log2
  float left
  padding-left 10px
  font-family 'Microsoft Sans Serif'
  color #fff
  font-size 35px
  position relative
.nameUser
  font-family 'Microsoft Sans Serif'
  color #fff
  font-size 15px
  display inline-block
  transform translateX(-2em)
.available
  color #45a349  


  