footer.footer
  text-align center
  height 9.5em
  background #303a46
  color #fff
.Footer-description
  margin-top 35px
  font-size 14px
.Footer-description2
  margin-top 5px
  font-weight bold
  font-size 16px
