body
  font-family 'Microsoft JhengHei UI Light'
  overflow hidden

.thing-form
  margin 20px 0
.navbar-text
  margin-left 15px
.Main
  padding-top 19em
  padding-bottom 9em
  display flex
  justify-content center
  align-items center
  flex-direction column
  background-image url("../../assets/images/defi.jpg")
  background-repeat no-repeat
  background-position center
  background-size cover
  &-form
    text-align center
    height 10em
    width 40em
    position relative
    top 8em
  &-input
    border-radius 10px
    border-style outset
    padding .5em 1em
    display inline-block
    margin-bottom 10px
    width 230px
  &-input::-webkit-input-placeholder
    color #666
  &-input:focus
    outline-style none
  &-button
    display block
    margin-left 14em
    padding .5em 4em
    border-radius 10px
    background #303a46
    color #fff
    border-style none
  &-button:hover
    background #455464
  &-recover
    display block
    margin-bottom 20px
    color: #fff
    text-align center
.Error-FormMessage
  display inline-block
  color #fff
